
<div class="jumbotron">
  <h1 class="display-5"><%= @friend.frist_name %> <%= @friend.last_name %></h1>
  <br/>
  <p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

  <p>
  <strong>Instagram:</strong>
  <%= @friend.instagram %>
</p>
  
  <a <%= link_to 'Edit', edit_friend_path(@friend) ,class:"btn btn-dark" %> 
    <%= link_to 'Back', friends_path ,class:"btn btn-dark" ,class:"btn btn-light" %>

</div>
<p id="notice"><%= notice %></p>




